{% include "top.html" %}
<style>
        .controls{
            margin-left: 200px;
            padding:20px 30px 20px 0 ;
        }
        .control-label {
            padding-top: 30px;
            width: 180px;
            float: left;
        }
</style>
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper" >
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                     <h2>关于我们</h2>
                       
                    </div>
                </div>
                 <!-- /. ROW  -->
                 <hr />
               <div class="row">
                   <div class="col-md-2">
                       </div>
                <div class="col-md-8">
                    <!-- Form Elements -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            关于我们更新
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <h3>关于我们更新</h3>
                                    <form  class="form-horizontal" action="/aboutAdd_post/" enctype="multipart/form-data" >
                                        <div class="control-group">
                                            <label class="control-label">分类</label>
                                            <div class="controls">
                                            <input class="form-control" id="REclassName" type="text" placeholder="输入分类"/>
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label">作者</label>
                                            <div class="controls">
                                            <input class="form-control" id="REauthor" type="text" placeholder="输入作者" />
                                                </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label">内容</label>
                                            <div class="controls">
                                            <textarea class="form-control" id="REcontent" type="text" placeholder="输入内容" >
                                            </textarea>
                                                </div>
                                        </div>
                                        <div class="control-group">
                                        <button type="reset"  id="test" class="btn btn-default" style="float: left;margin-left: 60px;width: 80px;">重置</button>
                                        <button type="button" id="REsubmit" class="btn btn-success" style="float: right;margin-right: 60px;width: 80px;">提交</button>
                                            </div>
                                    </form>
                                    <br />
                                 </div>
                            </div>
                        </div>
                    </div>
                     <!-- End Form Elements -->
                </div>
                   <div class="col-md-2">
                   </div>
            </div>
                <!-- /. ROW
                <div class="row">
                    <div class="col-md-12">
                        <h3>More Customization</h3>
                         <p>
                        For more customization for this template or its components please visit official bootstrap website i.e getbootstrap.com or <a href="#/components/" target="_blank">click here</a> . We hope you will enjoy our template. This template is easy to use, light weight and made with love by binarycart.com 
                        </p>
                    </div>
                </div>
                <!-- /. ROW  -->
             </div>
             <!-- /. PAGE INNER  -->
            </div>
         <!-- /. PAGE WRAPPER  -->
<script src="/static/js/length.js"></script>
<script>
$("#REclassName").val("{{ about.className }}");
$("#REauthor").val("{{ about.author }}");
$("#REcontent").val("{{ about.content }}");

     $(function($){
        $.ajaxSetup({
            data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
            });
    })
    $("#REsubmit").click(function(){
        var className=$("#REclassName").val();
        var author=$("#REauthor").val();
        var content=$("#REcontent").val();
        var time="{{ about.time }}";
       $.post('/aboutUpdate_post/',{className:className,author:author,content:content,time:time}).done(function(result){
                if(result=="true"){
                                 $("#textMessage").text("修改成功");
                                 $("#TextSubmit").click(function(){
                                     window.location.href='/aboutList/';
                                 });
                                 $("#textExample").modal('toggle');
                             }
                             else{
                                 $("#example").modal('toggle');
                                 $("#AlertMessage").text("修改失败");
                             }

        })
    });

        //jmz.GetLength(title)
</script>
        {% include "footer.html" %}