<!--用作警告的模态框-->
<div class="modal fade" id="example" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" style="display: none;width:400px;left:55%;top:30%;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
            <div class="modal-body" style="background-color: #f2dede; border-color: white">
              <div class="control-group">
                <p id="AlertMessage" style="font-size: 1.5em;margin-top: 10px;text-align: center"></p>
              </div>
            </div>
            <div class="modal-footer"style="background-color: #f2dede;; border-color: white">
                <button type="button" class="btn btn-danger" data-dismiss="modal" style="margin-right: 20px;">确定</button>
            </div>
    </div>
  </div>
</div>
<!--用作消息的模态框-->
<div class="modal fade" id="textExample" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" style="display: none;width:400px;left:55%;top:30%;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
            <div class="modal-body">
              <div class="control-group">
                <p id="textMessage" style="font-size: 1.5em;margin-top: 10px;text-align: center"></p>
              </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" style="margin-right: 20px;" id="TextSubmit">确定</button>
            </div>
    </div>
  </div>
</div>