{% include "top.html" %}
<style>
        .controls{
            margin-left: 200px;
            padding:20px 30px 20px 0 ;
        }
        .control-label {
            padding-top: 30px;
            width: 180px;
            float: left;
        }
</style>
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper" >
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                     <h2>添加导师</h2>
                       
                    </div>
                </div>
                 <!-- /. ROW  -->
                 <hr />
               <div class="row">
                   <div class="col-md-2">
                       </div>
                <div class="col-md-8">
                    <!-- Form Elements -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            添加导师
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <h3>添加导师</h3>
                                    <form  class="form-horizontal">
                                        <div class="control-group">
                                            <label class="control-label">导师编号</label>
                                            <div class="controls">
                                                <input class="form-control" id="REnumber" type="text" placeholder="导师编号"/>
                                                </div>
                                        </div>
                                    <div class="control-group">
                                            <label class="control-label">导师姓名</label>
                                            <div class="controls">
                                                <input class="form-control" id="REname" type="text" placeholder="导师姓名"/>
                                                </div>
                                        </div>
                                    <div class="control-group">
                                            <label class="control-label">手机号</label>
                                            <div class="controls">
                                                <input class="form-control" id="REphone" type="text" placeholder="手机号"/>
                                                </div>
                                        </div>
                                    <div class="control-group">
                                            <label class="control-label">qq号</label>
                                            <div class="controls">
                                                <input class="form-control" id="REqq" type="text" placeholder="qq号"/>
                                                </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label">分类</label>
                                            <div class="controls">
                                            <select id="REclass" class="form-control">
                                                {% for i in List %}
                                                <option value="{{ i.number }}">{{ i.number }}:{{ i.name }}</option>
                                                {% endfor %}
                                            </select>
                                                </div>
                                        </div>

                                        <div class="control-group" style="margin-bottom: 20px;">
                                            <label class="control-label">照片</label>
                                            <div class="controls">
                                                <img id="REImg" src="" style="float: left;margin:0 20px 0 0">
                                            <input class="form-control" id="REpic" type="file"/>
                                            </div>
                                        </div>

                                        <div class="control-group">
                                            <label class="control-label">导师描述</label>
                                            <div class="controls">
                                                <textarea class="form-control" id="REdes" placeholder="导师描述" ></textarea>
                                                </div>
                                        </div>
                                        <div class="control-group">
                                        <button type="reset"  id="test" class="btn btn-default" style="float: left;margin-left: 60px;width: 80px;">重置</button>
                                        <button type="button" id="REsubmit" class="btn btn-success" style="float: right;margin-right: 60px;width: 80px;">提交</button>
                                            </div>
                                    </form>
                                    <br />
                                 </div>
                            </div>
                        </div>
                    </div>
                     <!-- End Form Elements -->
                </div>
                   <div class="col-md-2">
                   </div>
            </div>
                <!-- /. ROW  -
                <div class="row">
                    <div class="col-md-12">
                        <h3>More Customization</h3>
                         <p>
                        For more customization for this template or its components please visit official bootstrap website i.e getbootstrap.com or <a href="#/components/" target="_blank">click here</a> . We hope you will enjoy our template. This template is easy to use, light weight and made with love by binarycart.com 
                        </p>
                    </div>
                </div>
                <!-- /. ROW  -->
             </div>
             <!-- /. PAGE INNER  -->
            </div>
         <!-- /. PAGE WRAPPER  -->
<script src="/static/js/length.js"></script>
<script>
     $(function($){
        $.ajaxSetup({
            data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
            });
    })
     $("#REpic").change(function(evt){
         var files=evt.target.files;
         for (var i=0,f;f=files[i];i++){
             if(!f.type.match('image.*')){
                 continue;
             }
             var reader=new FileReader();
             reader.onload=(function(theFile){
                 return function(e){
                     $("#REImg").attr('src',e.target.result);
                     $("#REImg").css({width:'70px',height:'70px',margin:'0 20px 0 0' });
                     $("#REpic").css({width:'70%'});
                 };
             })(f);
             reader.readAsDataURL(f);
         }

     })
    $("#REsubmit").click(function(){
                 var name=$("#REname").val();
                 var number=$("#REnumber").val();
                 var des=$("#REdes").val();
                 var phone=$("#REphone").val();
                 var qq=$("#REqq").val();
                 var pic=$("#REpic")[0].files[0];
                 var Fclass=$("#REclass").val();

                 var teamnumber="{{ number }}"
                alert(teamnumber)
                 var nameL=jmz.GetLength(name)
                 var numberL=jmz.GetLength(number)
                 var desL=jmz.GetLength(des)
                 var phoneregx=/^1[0-9]{10}$/;
                 var phoneflag=phoneregx.test(phone);
                 if(!phoneflag||phone==""){
                     $("#example").modal('toggle');
                    $("#AlertMessage").text("电话号码有误");
                 }
                 else if(!pic){
                     $("#example").modal('toggle');
                    $("#AlertMessage").text("照片有误");
                 }
                 else if(nameL>30||name==""){
                     $("#example").modal('toggle');
                    $("#AlertMessage").text("名称有误");
                 }
                 else if(numberL>20||number==""){
                     $("#example").modal('toggle');
                    $("#AlertMessage").text("编号有误");
                 }
                 else if(desL>300||des==""){
                     $("#example").modal('toggle');
                    $("#AlertMessage").text("描述有误");
                 }
                 else{
                            var form=new FormData();
                            form.append('file',pic);
                            form.append('name',name);
                            form.append('number',number);
                            form.append('Fclass',Fclass);
                            form.append('phone',phone);
                            form.append('des',des);
                            form.append('qq',qq);
                            form.append('tnumber',teamnumber);
                            $.ajax({
                                type:'POST',
                                url:'/reTeacherAdd_post/',
                                data:form,
                                processData:false,  // 告诉jquery不转换数据
                                contentType:false,  // 告诉jquery不设置内容格式
                                success:function (result) {
                                    alert(result)
                                    if(result=="true"){
                                                     $("#textMessage").text("添加成功");
                                                     $("#TextSubmit").click(function(){
                                                         var userstatus="{{ userstatus }}";
                                     if(userstatus==0){
                                         window.location.href='/teamList/';
                                     }else{
                                         window.location.href='/teamDetail/';
                                     }
                                                     });
                                                     //注意此出绑定的方法是否为一次性
                                                     $("#textExample").modal('toggle');
                                                 }
                                                 else if(result=="ID already"){
                                                     $("#example").modal('toggle');
                                                     $("#AlertMessage").text("编号已经注册");
                                                 }
                                                 else{
                                                     $("#example").modal('toggle');
                                                     $("#AlertMessage").text("添加失败");
                                                 }

                                            }
                                         });
                                     }
    })
     $("#REname").blur(function(){
       var name=$("#REname").val();
                 var nameL=jmz.GetLength(name)
                 if(nameL>30){
                     $("#example").modal('toggle');
                    $("#AlertMessage").text("名称过长");
                 }
    })
    $("#REnumber").blur(function(){
        var number=$("#REnumber").val();
                 var numberL=jmz.GetLength(number)
                if(numberL>20){
                     $("#example").modal('toggle');
                    $("#AlertMessage").text("编号过长");
                 }
    })
    $("#REdes").blur(function(){
        var des=$("#REdes").val();
                 var desL=jmz.GetLength(des)
                if(desL>300){
                     $("#example").modal('toggle');
                    $("#AlertMessage").text("描述过长");
                 }
    })
    $("#REphone").blur(function(){
        var phoneregx=/^1[0-9]{10}$/;
        var phoneflag=phoneregx.test(phone);
        if(!phoneflag){
            $("#example").modal('toggle');
            $("#AlertMessage").text("电话号码有误");
        }
    })
</script>
        {% include "footer.html" %}