{% include "top.html" %}
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper" >
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-8">
                     <h2>近日要闻列表</h2>
                    </div>
                    <div class="col-md-4">
                        {% ifequal userstatus 1 %}
                        <a type="button" href="/newsAdd/" class="btn btn-primary" style="float: right;margin-right: 50px;margin-top: 20px;">添加新闻</a>
                        {% else %}
                        {% endifequal %}
                    </div>
                </div>
                 <!-- /. ROW  -->
                 <hr />
               
            <div class="row">
                <div class="col-md-12">
                    <!-- Advanced Tables -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                             近日要闻
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                    <thead>
                                        <tr>
                                            <th>题目</th>
                                            <th>内容预览</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for news in newsList %}
                                    <tr>
                                            <td class="center">{{ news.title }}</td>
                                        <td class="center">
                                            <input style="display: none;" value="{{ news.time }}"/>
                                            <input style="display: none;" value="{{ news.author }}"/>
                                            <input type="text" style="display: none" value="{{ news.content }}">
                                            <a class="amend">
                                                <p style="width:500px; line-height:25px; text-overflow:ellipsis; white-space:nowrap; overflow:hidden;">{{ news.realContent }}</p>
                                            </a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!--End Advanced Tables -->
                </div>
            </div>
            </div>
        </div>
<script>
    $(".amend").click(function(){
        var title=$(this).parent().prev().text();
        var time=$(this).prev().prev().prev().val();
        var author=$(this).prev().prev().val();
        var realContent=$(this).text();//纯文本
        var content=$(this).prev().val();//html
        var str='/newsDetail?Ftitle='+title+'&Ftime='+time+'&Fauthor='+author+'&Fcontent='+content;
        window.location.href=str
})
</script>
   {% include "footer.html" %}