{% include "top.html" %}
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper" >
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                     <h2>近日要闻添加</h2>
                       
                    </div>
                </div>
                 <!-- /. ROW  -->
                 <hr />
                <div class="row">
                <div class="col-md-12">
                    <!-- Form Elements -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            近日要闻添加
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <input id="Ntitle" type="text" placeholder="请输入题目" style="width: 100%;margin-bottom: 30px;margin-top: 20px;border-radius: inherit;padding-top:10px;padding-bottom:10px;padding-left: 10px;"/>
                                        </div>
                                        <div class="col-md-4">
                                            <button type="button" id="Nsubmit" class="btn btn-success" style="padding:10px 40px 10px 40px;float: right;margin-right: 40px;margin-top: 20px;">提交</button>
                                        </div>
                                    </div>

                                    <div id="editorDiv" style="height:500px;">
                                        <p>请输入内容</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
               
    </div>
             <!-- /. PAGE INNER  -->
</div>
         <!-- /. PAGE WRAPPER  -->
<script>
    var editor=new wangEditor('editorDiv');
    editor.create();
    $("#Nsubmit").click(function(){
        var content=editor.$txt.html();
        var title=$("#Ntitle").val();
        var author="{{ username }}";
        alert(title+content+author);
        $.get("/newsAdd_get/",{Ftitle:title,Fcontent:content,Fauthor:author}).done(function(result){
            if(result=="true"){
                $("#textMessage").text("添加成功");
                $("#TextSubmit").click(function(){
                    window.location.href='/newsList/';
                });
                //注意此出绑定的方法是否为一次性
                $("#textExample").modal('toggle');
            }else{
                $("#example").modal('toggle');
                $("#AlertMessage").text("添加失败");
            }
        })
    })
</script>
{% include "footer.html" %}
