{% include "top.html" %}
<style>
        .controls{
            margin-left: 200px;
            padding:20px 30px 20px 0 ;
        }
        .control-label {
            padding-top: 30px;
            width: 180px;
            float: left;
        }
</style>
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper" >
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                     <h2>分类</h2>

                    </div>
                </div>
                 <!-- /. ROW  -->
                 <hr />
               <div class="row">
                   <div class="col-md-2">
                       </div>
                <div class="col-md-8">
                    <!-- Form Elements -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            分类更新
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <h3>分类更新</h3>
                                    <form  class="form-horizontal">
                                        <div class="control-group">
                                            <label class="control-label">科研组编号</label>
                                            <div class="controls">
                                                <p class="form-control">{{ class.teamNumber }}</p>
                                                </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label">分类名称</label>
                                            <div class="controls">
                                            <input class="form-control" id="REname" type="text" placeholder="分类名称"/>
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label">分类编号</label>
                                            <div class="controls">
                                            <p class="form-control">{{ class.number }}</p>
                                            </div>
                                        </div>

                                        <div class="control-group">
                                            <label class="control-label">分类描述</label>
                                            <div class="controls">
                                                <textarea class="form-control" id="REdes" placeholder="分类描述" ></textarea>
                                                </div>
                                        </div>
                                        <div class="control-group">
                                        <button type="reset"  id="test" class="btn btn-default" style="float: left;margin-left: 60px;width: 80px;">重置</button>
                                        <button type="button" id="REsubmit" class="btn btn-success" style="float: right;margin-right: 60px;width: 80px;">修改</button>
                                            </div>
                                    </form>
                                    <br />
                                 </div>
                            </div>
                        </div>
                    </div>
                     <!-- End Form Elements -->
                </div>
                   <div class="col-md-2">
                   </div>
            </div>
                <!-- /. ROW
                <div class="row">
                    <div class="col-md-12">
                        <h3>More Customization</h3>
                         <p>
                        For more customization for this template or its components please visit official bootstrap website i.e getbootstrap.com or <a href="#/components/" target="_blank">click here</a> . We hope you will enjoy our template. This template is easy to use, light weight and made with love by binarycart.com 
                        </p>
                    </div>
                </div>
                <!-- /. ROW  -->
             </div>
             <!-- /. PAGE INNER  -->
            </div>
         <!-- /. PAGE WRAPPER  -->
<script src="/static/js/length.js"></script>
<script>
     $(function($){
        $.ajaxSetup({
            data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
            });
    })
     $("#REname").val("{{ class.name }}").blur(function(){
       var name=$("#REname").val();
                 var nameL=jmz.GetLength(name)
                 if(nameL>30){
                     $("#example").modal('toggle');
                    $("#AlertMessage").text("名称过长");
                 }
    })
     $("#REnumber").blur(function(){
        var number=$("#REnumber").val();
                 var numberL=jmz.GetLength(number)
                if(numberL>20){
                     $("#example").modal('toggle');
                    $("#AlertMessage").text("编号过长");
                 }
    })
     $("#REdes").val("{{ class.des }}").blur(function(){
        var des=$("#REdes").val();
                 var desL=jmz.GetLength(des)
                if(desL>300){
                     $("#example").modal('toggle');
                    $("#AlertMessage").text("描述过长");
                 }
    })
    $("#REsubmit").click(function(){
                 var name=$("#REname").val();
                 var des=$("#REdes").val();
                 var number="{{ class.number }}"
                 var nameL=jmz.GetLength(name)
                 var desL=jmz.GetLength(des)
                 if(nameL>30){
                     $("#example").modal('toggle');
                    $("#AlertMessage").text("名称过长");
                 }
                 else if(desL>300){
                     $("#example").modal('toggle');
                    $("#AlertMessage").text("描述过长");
                 }
                 else{
                        $.post("/reClassUpdate_post/",{Fname:name,Fdes:des,Fnumber:number}).done(function(result){
                             if(result=="true"){
                                 $("#textMessage").text("修改成功");
                                 $("#TextSubmit").click(function(){
                                     window.location.href='/teamList/';
                                 });
                                 //注意此出绑定的方法是否为一次性
                                 $("#textExample").modal('toggle');
                             }
                             else{
                                 $("#example").modal('toggle');
                                 $("#AlertMessage").text("添加失败");
                             }
                     })
                 }
    })


</script>
        {% include "footer.html" %}