{% include "top.html" %}
<style>
        .controls{
            margin-left: 200px;
            padding:20px 30px 20px 0 ;
        }
        .control-label {
            padding-top: 30px;
            width: 180px;
            float: left;
        }
</style>
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper" >
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                     <h2>论文</h2>
                       
                    </div>
                </div>
                 <!-- /. ROW  -->
                 <hr />
               <div class="row">
                   <div class="col-md-2">
                       </div>
                <div class="col-md-8">
                    <!-- Form Elements -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            论文更新
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <h3>论文更新</h3>
                                    <form  class="form-horizontal" action="/paperAdd_post/" enctype="multipart/form-data" >
                                        <div class="control-group">
                                            <label class="control-label">论文题目</label>
                                            <div class="controls">
                                            <input class="form-control" id="REtitle" type="text" placeholder="输入论文题目"/>
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label">论文编号</label>
                                            <div class="controls">
                                            <p class="form-control">{{ paper.number }}</p>
                                                </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label">作者</label>
                                            <div class="controls">
                                            <input class="form-control" id="REauthor" type="text" placeholder="输入作者" />
                                                </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label">文件</label>
                                            <div class="controls">
                                            <input class="form-control" id="REfile" type="file" />
                                                </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label">论文简介</label>
                                            <div class="controls">
                                                <textarea class="form-control" id="REtextarea" placeholder="论文简介" >

                                                </textarea>
                                                </div>
                                        </div>
                                        <div class="control-group">
                                        <button type="reset"  id="test" class="btn btn-default" style="float: left;margin-left: 60px;width: 80px;">重置</button>
                                        <button type="button" id="REsubmit" class="btn btn-success" style="float: right;margin-right: 60px;width: 80px;">提交</button>
                                            </div>
                                    </form>
                                    <br />
                                 </div>
                            </div>
                        </div>
                    </div>
                     <!-- End Form Elements -->
                </div>
                   <div class="col-md-2">
                   </div>
            </div>
                <!-- /. ROW
                <div class="row">
                    <div class="col-md-12">
                        <h3>More Customization</h3>
                         <p>
                        For more customization for this template or its components please visit official bootstrap website i.e getbootstrap.com or <a href="#/components/" target="_blank">click here</a> . We hope you will enjoy our template. This template is easy to use, light weight and made with love by binarycart.com 
                        </p>
                    </div>
                </div>
                <!-- /. ROW  -->
             </div>
             <!-- /. PAGE INNER  -->
            </div>
         <!-- /. PAGE WRAPPER  -->
<script src="/static/js/length.js"></script>
<script>
$("#REtitle").val("{{ paper.title }}");
$("#REnumber").val("{{ paper.number }}");
$("#REauthor").val("{{ paper.author }}");
$("#REtextarea").val("{{ paper.content }}");
     $(function($){
        $.ajaxSetup({
            data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
            });
    })
    $("#REsubmit").click(function(){
        var title=$("#REtitle").val();
        var number="{{ paper.number }}";
        var author=$("#REauthor").val();
        var fileobj=$("#REfile")[0].files[0];
        var content=$("#REtextarea").val();
         if(!fileobj){
                     $("#example").modal('toggle');
                    $("#AlertMessage").text("文件有误");
                 }
         else if(title==""){
            $("#example").modal('toggle');
                    $("#AlertMessage").text("题目有误");
        }
        else if(number==""){
            $("#example").modal('toggle');
                    $("#AlertMessage").text("编号有误");
        }
        else if(author==""){
            $("#example").modal('toggle');
                    $("#AlertMessage").text("作者有误");
        }
        else if(content==""){
            $("#example").modal('toggle');
                    $("#AlertMessage").text("内容有误");
        }
        else {
             var form = new FormData();
             form.append('file', fileobj);
             form.append('title', title);
             form.append('number', number);
             form.append('author', author);
             form.append('content', content);
             alert(content);
             $.ajax({
                 type: 'POST',
                 url: '/paperUpdate_post/',
                 data: form,
                 processData: false,  // 告诉jquery不转换数据
                 contentType: false,  // 告诉jquery不设置内容格式
                 success: function (result) {
                     alert(result)
                     if (result == "true") {
                         $("#textMessage").text("修改成功");
                         $("#TextSubmit").click(function () {
                             window.location.href = '/paperList/';
                         });
                         //注意此出绑定的方法是否为一次性
                         $("#textExample").modal('toggle');
                     }
                     else {
                         $("#example").modal('toggle');
                         $("#AlertMessage").text("修改失败");
                     }

                 }
             });
         }
    });

        //jmz.GetLength(title)
</script>
        {% include "footer.html" %}